{{ define "header" }}
<header class="bg-white shadow p-4 flex justify-between items-center">
  <h1 class="text-xl font-semibold text-gray-800">
    {{ .Title }}
  </h1>
  {{ template "login_link" . }}
</header>
{{ end }}
