{{ define "loader.go" }}
{{ template "warning.go" . }}
package config

import (
	"fmt"
	"log/slog"
	"os"

	_ "github.com/joho/godotenv/autoload"
)

type envionmentContraints interface {
	bool | int | string
}

func getenv(key string) string {
	value := os.Getenv(key)
	if value == "" {
		AdminConfig.AddError(fmt.Errorf("  - %s is undefined", key))
	}
	return value
}

func MustLoadConfig() {
	AdminConfig.JWTSecret = getenv("JWT_SECRET")

	if !AdminConfig.IsValid() {
		fmt.Printf("Configuration is invalid, please check your environment variables:\n%s\n", AdminConfig.Error())
		os.Exit(1)
	}

	// logger config
	logger := slog.New(slog.NewJSONHandler(os.Stdout, nil))
	slog.SetDefault(logger)
}
{{ end }}
