{{ define "config.go" }}
{{ template "warning.go" . }}
package config

import "strings"

type AdminConf struct {
  AppName   string
	JWTSecret string
	err       []error
}

func (ac AdminConf) IsValid() bool {
	return ac.err == nil
}

func (ac *AdminConf) AddError(err error) {
	ac.err = append(ac.err, err)
}

func (ac AdminConf) Error() string {
	var sb strings.Builder

	for _, e := range ac.err {
		sb.WriteString(e.Error())
	}
	return sb.String()
}

var AdminConfig = AdminConf{}
{{ end }}
