{{- define "middleware.go" -}}
{{ template "warning.go" . }}

package admin

import (
	"github.com/golang-jwt/jwt/v5"
	"github.com/labstack/echo/v4"
)

type UserContext struct {
	echo.Context
	User
}

func JWTExtractor(next echo.HandlerFunc) echo.HandlerFunc {
	return func(c echo.Context) error {
		user := c.Get("user").(*jwt.Token)
		claims := user.Claims.(*jwtCustomClaims)
		name := claims.Name

		cc := &UserContext{
			c,
			User{
				name,
				"test@test.com",
			},
		}

		return next(cc)
	}
}
{{ end }}
