package page 

import (
	"MODULE_NAME/data"
	"MODULE_NAME/template/layout"
)

templ Logout(data data.Logout) {
	@layout.Base(data) {
		<div class="max-w-md mx-auto bg-white p-6 rounded shadow">
			You successfully logged out.
			<a href="/login" class="text-blue-600 hover:underline">Login again</a>
		</div>
	}
}
