package page

import (
	"github.com/panzerit/runway/data"
	"github.com/panzerit/runway/template/html"
	"github.com/panzerit/runway/template/layout"
)

templ Table(title, model string, user *data.User, table string, paginationLinks []templ.Component) {
	@layout.Base(title, user) {
		@html.H1() {
			{ model }
		}
		@templ.Raw(table)
		for _, link := range paginationLinks {
			@templ.Component(link) {
				Hello
			}
		}
	}
}
